<section class="private-main-container">
  <header>
    <app-breadcrumb
      breadcrumbTitle="breadcrumbs.registers.clients"
      route={{appRoutes.REGISTERS}}
    />
    <app-button width="256px" btnStyle="raised" variant="secondary" [disabled]="!checkAccessCode('create-clients')"
      (onClick)="create()">
      {{ 'clients.btn-register' | translate }}
    </app-button>
  </header>
  <main>
    <div class="card-table">
      <div class="table-filter">
        <input type="text" (input)="handleFilterChange($event)" />
        <mat-icon>search</mat-icon>
      </div>
      <table mat-table [dataSource]="dataSources">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            {{ "clients.name" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="ipRange">
          <th mat-header-cell *matHeaderCellDef>
            {{ "clients-dialog.ip-label" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.ipRange }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef width="250px">
            {{ "common.actions" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              class="btn"
              [disabled]="!checkAccessCode('read-clients')"
              (click)="view(element)"
              matTooltip="{{ 'common.view' | translate }}"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              class="btn"
              [disabled]="!checkAccessCode('update-clients')"
              (click)="edit(element)"
              matTooltip="{{ 'common.edit' | translate }}"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="btn"
              [disabled]="!checkAccessCode('delete-clients')"
              (click)="delete(element)"
              matTooltip="{{ 'common.delete' | translate }}"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        *ngIf="page"
        [pageSizeOptions]="[5, 10]"
        [pageIndex]="page.pageable.pageNumber"
        [length]="page.totalElements"
        [pageSize]="page.pageable.pageSize"
        [showFirstLastButtons]="true"
        (page)="pageUpdate($event)"
        aria-label="Select page"
      />
    </div>
  </main>
</section>
