@import "_colors.scss";
@import "_mixins.scss";

.change-password-card {
  border: 1px solid $white;
  border-radius: 20px;
  width: 30vw;
  padding: 3%;

  @media screen and (max-width: 1300px) {
    width: 40vw;
  }

  @media screen and (max-width: 1000px) {
    width: 50vw;
  }

  @media screen and (max-width: 700px) {
    width: 90%;
    padding: 1.5rem;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-password-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  width: 250px;
  max-width: 100%;
}
