<container-full>
  <section class="change-password-card">
    <div class="change-password-content">
      <figure class="img-logo">
        <img src="assets/images/logo-white.svg" />
      </figure>
      <div class="title-div">
        <h4 class="title">
          {{ "change-password.change-password" | translate }}
        </h4>
        <p class="subtitle">
          {{ "change-password.insert-password-1" | translate }}
        </p>
      </div>
      <form [formGroup]="recoveryForm" (submit)="onSubmit()">
        <app-form-field
          fieldType="password"
          name="password"
          label="{{ 'change-password.input-label-1' | translate }}"
          placeholder="{{ 'change-password.input-placeholder-1' | translate }}"
          formStyle="outline"
          width="100%"
          class=""
          borderStyle="muted"
          control="password"
        />
        <app-form-field
          fieldType="password"
          name="passwordConfirmation"
          label="{{ 'change-password.input-label-2' | translate }}"
          placeholder="{{ 'change-password.input-placeholder-2' | translate }}"
          formStyle="outline"
          width="100%"
          class=""
          borderStyle="muted"
          control="passwordConfirmation"
        />
        <section class="button-container">
          <app-button
            width="100%"
            btnStyle="raised"
            variant="success"
            (click)="onSubmit()"
          >
            {{ "change-password.btn-change-password" | translate }}
          </app-button>
          <app-button
            width="100%"
            btnStyle="stroked"
            variant="light"
            (click)="navigateToLogin()"
          >
            {{ "common.back" | translate }}
          </app-button>
        </section>
      </form>
    </div>
  </section>
</container-full>
