<section>
  <header>
    <div class="flex-justify">
      <h2>{{ title | translate }}</h2>
      <div class="btn-icon" (click)="closeDialog()">
        <mat-icon class="material-icons-outlined" svgIcon="cancel-lt" />
      </div>
    </div>
    <span *ngIf="!disabled">{{ "users-dialog.subtitle" | translate }}</span>
  </header>

  <div class="content">
    <div class="flex-justify">
      <span>{{ "dialogs.form" | translate }}</span>
      <div class="divider"></div>
    </div>

    <form [formGroup]="recoveryForm" (submit)="onSubmit()">
      <div>
        <app-form-field
          fieldType="input"
          borderStyle="secondary"
          width="100%"
          label="{{ 'users-dialog.user-label' | translate }}"
          placeholder="{{ 'users-dialog.user-placeholder' | translate }}"
          control="name"
          [disabled]="disabled"
        />
        <app-form-field
          fieldType="input"
          borderStyle="secondary"
          width="100%"
          label="{{ 'users-dialog.email-label' | translate }}"
          placeholder="{{ 'users-dialog.email-placeholder' | translate }}"
          control="email"
          [disabled]="disabled"
        />
        <app-form-select-field
          borderStyle="secondary"
          width="100%"
          label="{{ 'users-dialog.profile-label' | translate }}"
          placeholder="{{ 'users-dialog.profile-placeholder' | translate }}"
          control="profileId"
          [options]="selectOptionsProfile"
          valueField="id"
          textField="name"
          [disabled]="disabled"
        />
      </div>
    </form>
  </div>

  <div class="buttons">
    <app-button
      *ngIf="!disabled"
      width="100%"
      btnStyle="raised"
      variant="success"
      (click)="onSubmit()"
      [disabled]="isLoading"
    >
      {{ "dialogs.btn-register" | translate }}
    </app-button>
    <app-button
      width="100%"
      btnStyle="stroked"
      variant="light"
      (click)="closeDialog()"
    >
      {{ "common.cancel" | translate }}
    </app-button>
  </div>
</section>
