@import "_mixins.scss";
@import "_colors.scss";

@include priv-main-container;
@include private-header;
@include table_style;


header {
  display: flex;
  width: 100%;
}

.filter-row {
  display: flex;
  gap: 10px;
  align-items: start;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.report-filter {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  $input-width: 250px;
  $icon-width: 25px;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.report {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;

  app-bar-graph-chart {
    align-self: center;

  }
}
