<container-full>
  <section class="forgot-password-card">
    <div class="forgot-password-content">
      <figure class="img-logo">
        <img src="assets/images/logo-white.svg" />
      </figure>
      <div class="title-div">
        <h4 class="title">
          {{ "forgot-password.reset-password" | translate }}
        </h4>
        <p class="subtitle">
          {{ "forgot-password.insert-email-1" | translate }}
          <span class="highlight">
            {{ "forgot-password.insert-email-2" | translate }}
          </span>
          {{ "forgot-password.insert-email-3" | translate }}
        </p>
      </div>
      <form [formGroup]="recoveryForm" (submit)="onSubmit()">
        <app-form-field
          fieldType="input"
          name="Email"
          label="E-mail"
          placeholder="{{ 'forgot-password.input-placeholder' | translate }}"
          formStyle="outline"
          width="100%"
          class=""
          borderStyle="muted"
          control="email"
        />
        <section class="button-container">
          <app-button
            width="100%"
            btnStyle="raised"
            variant="success"
            (click)="onSubmit()"
          >
            {{ "forgot-password.btn-reset-password" | translate }}
          </app-button>
          <app-button
            width="100%"
            btnStyle="stroked"
            variant="light"
            (click)="navigateToLogin()"
          >
            {{ "common.back" | translate }}
          </app-button>
        </section>
      </form>
    </div>
  </section>
</container-full>
