@import "_colors.scss";
@import "_mixins.scss";

* {
  color: $white;
}

.title-div {
  margin-bottom: 40px;
}

.title {
  margin-top: 16px;
  margin-bottom: 32px;
}

.forgot-password-card {
  border: 1px solid $white;
  border-radius: 20px;
  width: 30vw;
  padding: 3%;

  @media screen and (max-width: 1300px) {
    width: 40vw;
  }

  @media screen and (max-width: 1000px) {
    width: 50vw;
  }

  @media screen and (max-width: 700px) {
    width: 90%;
    padding: 1.5rem;
  }
}

.forgot-password-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  width: 250px;
  max-width: 100%;
}

p.subtitle {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  color: $white;
  font-family: "Assistant-light";
  font-size: 1.28rem;
  letter-spacing: 0.1rem;
}

span.highlight {
  color: $colorsystem2-300;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forgot-password {
  text-align: center;
  color: $white;
  margin-top: 2%;
  text-decoration: none;
}



@media screen and (max-width: 1430px) and (max-height: 768px) {
  .forgot-password-content {
    margin: 5% auto;
  }

  h4.title {
    margin: .5rem;
    margin-left: 0;
  }
}
