@import "_dialogs.scss";

table {
  width: 100%;

  tr {
    display: flex;

    td {
      border: 1px solid var(--table-cell-border-color);
      color: var(--default-font-color);
      background-color: var(--table-cell-bg-color);
      width: 100%;
      padding: 0 5px;
    }

    .table-header {
      width: 300px;
      max-width: 40%;
    }
  }
}
