@import "_mixins.scss";
@import "_colors.scss";

@include priv-main-container;

header {
  display: flex;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;

  app-rack {
    width: 450px;
  }

  @media screen {
    @media (max-width: 1050px) {
      flex-direction: column;
      gap: 30px;

      app-rack {
        width: 70%;
      }
    }

    @media (max-width: 750px) {
      padding: 0 5%;

      app-rack {
        width: 100%;
      }
    }
  }
}
