/*color system 1*/
$colorsystem1-50: #E5EDFE;
$colorsystem1-75: #A0B3CD;
$colorsystem1-100: #C4D4E7;
$colorsystem1-150: #B5C5DA;
$colorsystem1-200: #A6B7CE;
$colorsystem1-300: #859AB5;
$colorsystem1-400: #6E85A2;
$colorsystem1-500: #567090;
$colorsystem1-600: #48627F;
$colorsystem1-700: #394F68;
$colorsystem1-800: #2A3D53;
$colorsystem1-900: #18293B;
$colorsystem1-1000: #0A1521;

/*color system 2*/
$colorsystem2-50:  #E6FAFF;
$colorsystem2-100: #D2F4FF;
$colorsystem2-200: #AEE8FF;
$colorsystem2-300: #7ED6FF;
$colorsystem2-400: #4CB3FF;
$colorsystem2-500: #238FFF;
$colorsystem2-600: #0066FF;
$colorsystem2-700: #0059D7;
$colorsystem2-800: #0059D7;
$colorsystem2-900: #094DA6;
$colorsystem2-950: #031735;

/*color system 3*/
$colorsystem3-red:   #D32020;
$colorsystem3-red2: #FF4C4C;
$colorsystem3-red3: #541111;
$colorsystem3-yellow: #ffcc00;
$colorsystem3-orange2: #C35023;
$colorsystem3-orange1: #D25F32;
$colorsystem3-green:  #84E388;
$colorsystem3-purpleblue: #2846AF;
$colorsystem3-purpleblue2: #203A97;
$colorsystem3-greensea: #057C97;
$colorsystem3-greensea2: #1F6777;
$colorsystem3-título-etiqueta: #AAE2EF;
$colorsystem3-título-etiqueta2: #11414B;

/*brand colors*/
$brandcolor-0: #0D1E30;
$brandcolor-1: #031735;
$brandcolor-2: #662D91;
$brandcolor-3: #BF245E;
$brandcolor-4: #DD6B3E;
$brandcolor-5: #00A551;
$brandcolor-6: #008FD5;
$brandcolor-32: #EC5A90;
$brandcolor-02: #4A56C4;

/* others */
$theme-muted: #938F99;
$black: black;
$white: white;
