@font-face {
  font-family: "Assistant-Bold";
  src: local("Assistant-Bold"), url(../fonts/Assistant/Assistant-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Assistant";
  src: local("Assistant"), url(../fonts/Assistant/Assistant-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Assistant-light";
  src: local("Assistant-light"), url(../fonts/Assistant/Assistant-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Assistant-medium";
  src: local("Assistant-medium"), url(../fonts/Assistant/Assistant-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Orbitron";
  src: local("Orbitron-VariableFont_wght"), url(../fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format("truetype");
}
