/* Define Angular Material UI styles here */

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: unset !important;
}

.cdk-global-overlay-wrapper {
  overflow: auto;
  padding: 10px;
}

.filter-wrapper-default {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: flex-start;
}

.search-wrapper {
  display: flex;
  position: relative;

  mat-icon {
    top: calc(50% - 12px) !important;
    right: 0;
  }
}
