/* Define Angular Material UI styles here */

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: unset !important;
}

.cdk-global-overlay-wrapper {
  overflow: auto;
  padding: 10px;
}

.search-wrapper {
  display: flex;
  position: relative;

  mat-icon {
    top: calc(50% - 12px) !important;
    right: 0;
  }
}
