@import "_mixins.scss";
@import "_colors.scss";

@include priv-main-container;

@include private-header;

@include table_style;

header {
  display: flex;
  width: 100%;

  .mat-icon {
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    color: $colorsystem1-600;
  }

  h4.title {
    cursor: pointer;
    color: $white;
    font-size: 1.5rem;
    text-wrap: nowrap;
    margin-right: auto;

    span {
      color: $colorsystem1-600;
    }
  }
}
