@import "_mixins.scss";
@import "_colors.scss";

@include priv-main-container;
@include private-header;

section.private-main-container {
  background: url("/assets/images/background-lifetest.png") var(--color-background);
  background-size: cover;
  height: calc(100% + 32px);
  width: calc(100% + 32px);
  margin: -16px;
  padding: 16px;
  overflow: auto;

  main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
  }
}

.mat-icon {
  color: #EF8F8F;
}


div.details {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;

  .card {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background-color: var(--stats-card-bg-color);
    border: none;

    span {
      font-family: Assistant;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.32px;
      align-self: stretch;
      color: var(--default-font-color);
    }

    h2 {
      color: var(--default-font-color);
      font-family: Assistant;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      align-self: stretch;
      margin: 0;
    }

    .card-top {
      display: flex;
      gap: 32px;
    }
  }

  .temperature {
    span {
      color: $colorsystem1-50;
    }

    h2 {
      color: var(--stats-temperature-font-color);
    }

    background-color: rgba(var(--stats-temperature-card));
  }
}

div.graphs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  height: fit-content;
}


@media screen and (max-width: 1350px) {
  section.private-main-container main {
    gap: 10px;
  }

  div.graphs {
    gap: 8px;
  }
}

@media screen and (max-width: 700px) {

  app-bar-chart-weekly,
  app-bar-chart-monthly,
  app-monthly-chart,
  app-line-chart {
    display: flex;
    justify-content: center;
    width: 100%;
    }
}
